.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #edc7c7e3;  */
    
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(100px);
    
  }